https://awesomeopensource.com/project/securego/gosec

Available rules

G301: Poor file permissions used when creating a directory
G302: Poor file permissions used with chmod
G306: Poor file permissions used when writing to a new file

